.details_visible,
.food-items__page-1-4_visible,
.food-item-1-20_visible,
.food-item-1-20-picture_visible,
.food-item-1-20-text-container_visible,
.food-item-1-20-bin_visible,
.food-pagination-left-button_visible,
.food-pagination-right-button_visible,
.alert-box_visible {
  visibility: visible; }

.details_hidden,
.food-items__page-1-4_hidden,
.food-item-1-20_hidden,
.food-item-1-20-picture_hidden,
.food-item-1-20-text-container_hidden,
.food-item-1-20-bin_hidden,
.food-pagination-left-button_hidden,
.food-pagination-right-button_hidden,
.alert-box_hidden {
  visibility: hidden; }

.food-items__page-1-4_none {
  display: none; }

.food-items__page-1-4_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.alert-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  cursor: default;
  position: absolute; }

.alert-box-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.alert-box-close__button {
  border: none;
  cursor: pointer;
  position: absolute; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

p,
h1,
h2,
h3,
figure {
  margin: 0; }

.button,
.input {
  -webkit-box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2); }

.button {
  cursor: pointer; }

.button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px); }

.icon {
  -webkit-box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Caveat', cursive; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900; }

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.header-form__input {
  outline: none; }

.header-form__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.container-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.my-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-item-1-20 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-item-1-20-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-item-1-20-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-item-1-20-bin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.food-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-pagination-left-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-pagination-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.food-pagination-right-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.total-calories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.total-calories__text,
.total-calories__value {
  text-decoration: underline; }

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row-first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row-second-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row-second-column-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row-second-column-serving {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row-second-column-serving-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-first-row-second-column-serving-buttons__minus,
.details-first-row-second-column-serving-buttons__plus {
  text-align: center; }

.details-first-row-second-column-serving-buttons__input {
  cursor: default;
  text-align: center; }

.details-first-row-second-column-add-to-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-second-row-first-column,
.details-second-row-second-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.details-second-row-first-column-serving-size,
.details-second-row-first-column-calories-amount-in-pieces,
.details-second-row-first-column-calories-amount-in-grams,
.details-second-row-second-column-fat,
.details-second-row-second-column-carbohydrates,
.details-second-row-second-column-protein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  white-space: nowrap; }

.details-second-row-first-column-serving-size__value,
.details-second-row-first-column-calories-amount-in-pieces__value,
.details-second-row-first-column-calories-amount-in-grams__value,
.details-second-row-second-column-fat__value,
.details-second-row-second-column-carbohydrates__value,
.details-second-row-second-column-protein__value {
  font-weight: 900; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media only screen and (min-width: 768px) {
  .alert-box {
    background-color: #FFAA2B;
    border-radius: 0.5vw;
    height: 10vh;
    width: 50vw; }

  .alert-box-text {
    color: #668d5e;
    font-size: 2vw;
    padding-left: 2vw; }

  .alert-box-close {
    height: 10vh;
    width: 5vw; }

  .alert-box-close__button {
    background-color: #FFAA2B;
    font-size: 4vw;
    height: 100%;
    padding-bottom: 1vh; }

  h1 {
    font-size: 3.5vw; }

  h2 {
    font-size: 3.5vw; }

  h3 {
    font-size: 1.25vw; }

  .button,
  .input {
    background-color: #668d5e;
    border: 0.15vw solid black;
    border-radius: 0.25vw; }

  .input {
    background-color: #FFFFFF;
    color: #668d5e; }

  .button:hover {
    background-color: #FFFFFF;
    border: 0.15vw solid #668d5e;
    color: #668d5e; }

  .icon {
    background-color: #FFFFFF;
    border: 0.25vh solid black;
    border-radius: 0.25vw;
    color: #668d5e; }

  .icon_color {
    color: #668d5e; }

  body {
    font-size: 18px; }

  .article {
    color: black;
    height: 100vh;
    width: 100vw; }

  .header {
    background-color: #d4b796;
    background-size: auto 100vw;
    border-bottom: 0.25vw solid #FFFFFF;
    height: 20vh;
    width: 100vw; }

  .header-text {
    height: 10vh;
    width: 100vw; }

  .header-form {
    height: 10vh;
    width: 100vw; }

  .header-form__input {
    color: #668d5e;
    font-size: 2.5vw;
    height: 6vh;
    padding: 0 0 0 1vw;
    width: 25vw; }

  .header-form__icon {
    color: #668d5e;
    height: 6vh;
    width: 5vw; }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #d4b796;
    height: 70vh;
    width: 100vw; }

  .container-aside {
    border-right: 0.25vw solid #FFFFFF;
    height: 70vh;
    width: 30vw; }

  .my-totals {
    height: 7vh;
    width: 27vw; }

  .my-totals__text {
    font-size: 2.25vw; }

  .food-items {
    height: 49vh;
    width: 27vw; }

  .food-items__page-1-4 {
    height: 49vh;
    width: 27vw; }

  .food-item-1-20 {
    background-color: #FFFFFF;
    height: 9.3vh;
    margin: 0.25vh 0;
    width: 27vw; }

  .food-item-1-20-picture-container {
    height: 9.3vh;
    width: 5.4vw; }

  .food-item-1-20-picture {
    height: 100%;
    width: auto;
    max-width: 100%; }

  .food-item-1-20-text-container {
    height: 9.3vh;
    width: 17.55vw; }

  .food-item-1-20-bin {
    height: 9.3vh;
    width: 4.05vw; }

  .food-pagination {
    height: 7vh;
    width: 27vw;
    font-size: 1.75vw; }

  .food-pagination-left-button {
    width: 6.75vw; }

  .food-pagination-text {
    width: 13.5vw; }

  .food-pagination-right-button {
    width: 6.75vw; }

  .total-calories {
    height: 7vh;
    width: 27vw; }

  .total-calories__text,
  .total-calories__value {
    font-size: 2.5vw; }

  .container-main {
    height: 70vh;
    width: 70vw; }

  .details {
    height: 70vh;
    width: 70vw; }

  .details-first-row {
    height: 42vh;
    width: 63vw; }

  .details-first-row-first-column {
    background-color: #FFFFFF;
    border: 0.15vw solid black;
    height: 42vh;
    width: 28.35vw; }

  .details-first-row-first-column__picture {
    height: 90%;
    max-width: 90%;
    width: auto; }

  .details-first-row-second-column {
    height: 42vh;
    width: 34.65vw; }

  .details-first-row-second-column-title {
    height: 14vh;
    width: 34.65vw; }

  .details-first-row-second-column-serving {
    font-size: 2.75vw;
    height: 14vh;
    width: 34.65vw; }

  .details-first-row-second-column-serving-buttons {
    padding-top: 1vh; }

  .details-first-row-second-column-serving-buttons__minus,
  .details-first-row-second-column-serving-buttons__plus {
    padding: 0;
    width: 2.4255vw; }

  .details-first-row-second-column-serving-buttons__input {
    padding: 0;
    width: 2.4255vw; }

  .details-first-row-second-column-add-to-totals {
    height: 14vh;
    width: 34.65vw; }

  .details-first-row-second-column-add-to-totals__button {
    font-size: 2.25vw;
    height: 50%;
    width: 50%; }

  .details-second-row {
    height: 21vh;
    width: 63vw; }

  .details-second-row-first-column {
    width: 37.8vw; }

  .details-second-row-second-column {
    width: 25.2vw; }

  .details-second-row-first-column-serving-size,
  .details-second-row-first-column-calories-amount-in-pieces,
  .details-second-row-first-column-calories-amount-in-grams,
  .details-second-row-second-column-fat,
  .details-second-row-second-column-carbohydrates,
  .details-second-row-second-column-protein {
    font-size: 2.25vw;
    width: 100%; }

  .footer {
    background-color: #d4b796;
    border-top: 0.25vw solid #FFFFFF;
    height: 10vh;
    width: 100vw; }

  .footer__text-1 {
    font-size: 1.75vw;
    padding-left: 2vw; }

  .footer__text-2 {
    font-size: 1.75vw;
    padding-right: 2vw; } }
@media only screen and (max-width: 768px) {
  .alert-box {
    background-color: #FFAA2B;
    border-radius: 0.5vw;
    height: 10vh;
    width: 75vw; }

  .alert-box-text {
    color: #668d5e;
    font-size: 3vw;
    padding-left: 2vw; }

  .alert-box-close {
    height: 10vh;
    width: 5vw; }

  .alert-box-close__button {
    background-color: #FFAA2B;
    font-size: 6vw;
    height: 100%;
    padding-bottom: 1vh; }

  h1 {
    font-size: 6vw; }

  h2 {
    font-size: 6vw; }

  h3 {
    font-size: 1.5vw; }

  .button,
  .input {
    background-color: #668d5e;
    border: 0.15vw solid black;
    border-radius: 0.25vw; }

  .input {
    background-color: #FFFFFF;
    color: black; }

  .button:hover {
    background-color: #FFFFFF;
    border: 0.15vw solid #668d5e;
    color: #668d5e; }

  .icon {
    background-color: #FFFFFF;
    border: 0.25vh solid black;
    border-radius: 0.25vw;
    color: black; }

  .icon_color {
    color: #668d5e; }

  body {
    font-size: 18px; }

  .article {
    height: 200vh;
    width: 100vw;
    color: black; }

  .header {
    height: 20vh;
    width: 100vw;
    background-color: #d4b796;
    background-size: auto 100vw;
    border-bottom: 0.25vw solid #FFFFFF; }

  .header-text {
    height: 12vh;
    width: 100vw; }

  .header-form {
    height: 8vh;
    width: 100vw; }

  .header-form__input {
    height: 4.8vh;
    width: 50vw;
    color: #668d5e;
    font-size: 5vw;
    padding: 0 0 0 3vw; }

  .header-form__icon {
    color: #668d5e;
    height: 4.8vh;
    width: 8vw; }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #d4b796;
    height: 170vh;
    width: 100vw; }

  .container-aside {
    border-right: 0.25vw solid #FFFFFF;
    height: 85vh;
    width: 100vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .my-totals {
    height: 12.75vh;
    width: 80vw; }

  .my-totals__text {
    font-size: 6vw; }

  .food-items {
    height: 55.25vh;
    width: 80vw; }

  .food-items__page-1-4 {
    height: 55.25vh;
    width: 80vw; }

  .food-item-1-20 {
    height: 10.55vh;
    margin: 0.25vh 0;
    width: 80vw;
    background-color: #FFFFFF;
    margin: 0.25vh 0; }

  .food-item-1-20-picture-container {
    height: 10.55vh;
    width: 16vw; }

  .food-item-1-20-picture {
    height: 100%;
    width: auto;
    max-width: 100%; }

  .food-item-1-20-text-container {
    height: 10.55vh;
    width: 52vw; }

  .food-item-1-20-bin {
    height: 10.55vh;
    width: 12vw; }

  .food-pagination {
    height: 8.5vh;
    width: 80vw;
    font-size: 4vw; }

  .food-pagination-left-button {
    width: 20vw; }

  .food-pagination-text {
    width: 40vw; }

  .food-pagination-right-button {
    width: 20vw; }

  .total-calories {
    height: 8.5vh;
    width: 80vw; }

  .total-calories__text,
  .total-calories__value {
    font-size: 4vw; }

  .container-main {
    height: 85vh;
    width: 100vw;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .details {
    height: 85vh;
    width: 100vw; }

  .details-first-row {
    height: 51vh;
    width: 95vw; }

  .details-first-row-first-column {
    height: 51vh;
    width: 57vw;
    background-color: #FFFFFF;
    border: 0.15vw solid black; }

  .details-first-row-first-column__picture {
    height: 90%;
    max-width: 90%;
    width: auto; }

  .details-first-row-second-column {
    height: 51vh;
    width: 38vw; }

  .details-first-row-second-column-title {
    height: 17vh;
    width: 38vw; }

  .details-first-row-second-column-serving {
    height: 17vh;
    width: 38vw;
    font-size: 5vw; }

  .details-first-row-second-column-serving-buttons {
    padding-top: 2vh; }

  .details-first-row-second-column-serving-buttons__minus,
  .details-first-row-second-column-serving-buttons__plus,
  .details-first-row-second-column-serving-buttons__input {
    width: 7.6vw; }

  .details-first-row-second-column-add-to-totals {
    height: 17vh;
    width: 38vw; }

  .details-first-row-second-column-add-to-totals__button {
    font-size: 4vw;
    height: 50%;
    width: 75%; }

  .details-second-row {
    height: 25.5vh;
    width: 95vw; }

  .details-second-row-first-column {
    width: 57vw; }

  .details-second-row-second-column {
    width: 38vw; }

  .details-second-row-first-column-serving-size,
  .details-second-row-first-column-calories-amount-in-pieces,
  .details-second-row-first-column-calories-amount-in-grams,
  .details-second-row-second-column-fat,
  .details-second-row-second-column-carbohydrates,
  .details-second-row-second-column-protein {
    font-size: 3.5vw;
    width: 100%; }

  .footer {
    height: 10vh;
    width: 100vw;
    background-color: #d4b796;
    border-top: 0.25vw solid #FFFFFF; }

  .footer__text-1 {
    font-size: 3vw;
    padding-left: 2vw; }

  .footer__text-2 {
    font-size: 3vw;
    padding-right: 2vw; } }
