// ------------------------------------------------------------------------------------------------------------------------------------------- //
// ------------------------------------------------------------ MIXINS ----------------------------------------------------------------------- //
// ------------------------------------------------------------------------------------------------------------------------------------------- //


@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-centered() {
  justify-content: center;
  align-items: center;
}

@mixin flex-horiz-space-between() {
  justify-content: space-between;
  align-items: center;
}

@mixin flex-horiz-start() {
  justify-content: start;
  align-items: center;
}

@mixin box-shadow() {
  box-shadow: 0 4px 10px 2px rgba(black, 0.2);
}

@mixin font-bold() {
  font-weight: 900;
}