@import "mixins";


//------------------------------ Visible, Hidden, None, Active -----------------------------//

.details_visible,
.food-items__page-1-4_visible,
.food-item-1-20_visible,
.food-item-1-20-picture_visible,
.food-item-1-20-text-container_visible,
.food-item-1-20-bin_visible,
.food-pagination-left-button_visible,
.food-pagination-right-button_visible,
.alert-box_visible {
  visibility: visible;
}

.details_hidden,
.food-items__page-1-4_hidden,
.food-item-1-20_hidden,
.food-item-1-20-picture_hidden,
.food-item-1-20-text-container_hidden,
.food-item-1-20-bin_hidden,
.food-pagination-left-button_hidden,
.food-pagination-right-button_hidden,
.alert-box_hidden {
  visibility: hidden;
}

.food-items__page-1-4_none {
  display: none;
}

// active class is used to make active page class act as flexbox otherwise all pages will be displayed simultaneously
.food-items__page-1-4_active {
  @include flex-column();
  @include flex-centered();
}

//------------------------------------------ Alert Boxes ----------------------------------------//

.alert-box {
  @include flex-row();
  @include flex-horiz-space-between();
  @include font-bold();
  cursor: default;
  position: absolute;
}

  .alert-box-close {
    @include flex-row();
    @include flex-centered();
    position: relative;
  }

    .alert-box-close__button {   
      border: none;
      cursor: pointer;    
      position: absolute;
    }

//------------------------------------------ Global Settings ----------------------------------------//

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
figure {
  margin: 0;
}

.button,
.input {
  @include box-shadow();
}

.button {
  cursor: pointer;
}

  .button:active {
    transform:translateY(2px);
  }

.icon {
  @include box-shadow();
  cursor: pointer;
}

//------------------------------------------ Main Layout ----------------------------------------//

body {
  @include flex-row();
  @include flex-centered();
  font-family: 'Caveat', cursive;
}

.article {
  @include flex-column();
  @include flex-centered(); 
  position: relative;
}

  .header {
    @include flex-column();
    @include flex-centered();
  }

    .header-text {
      @include flex-row();
      @include flex-centered();
      @include font-bold();
    }

    .header-form {
      @include flex-row();
      @include flex-centered();
      text-align: center;
    }

      .header-form__input {
        outline: none;
      }

      .header-form__icon {
        @include flex-row();
        @include flex-centered();
      }
  
  .container {

  }

    .container-aside {
      @include flex-column();
      @include flex-centered();
    }

      .my-totals {
        @include flex-row();
        @include flex-centered();
      }

      .food-items {
        @include flex-column();
        @include flex-centered();
      }

        .food-items__page-1-4 {
        }

          .food-item-1-20 {
            @include flex-row();
            @include flex-centered();
          }

            .food-item-1-20-picture-container {
              @include flex-row();
              @include flex-centered();
            }

            .food-item-1-20-text-container  {
              @include flex-column();
              @include flex-centered();
            }

            .food-item-1-20-bin  {
              @include flex-row();
              @include flex-centered();
              cursor: pointer;
            }

      .food-pagination {
        @include flex-row();
        @include flex-centered();
      }

        .food-pagination-left-button {
          @include flex-row();
          @include flex-centered();
        }
        
        .food-pagination-text {
          @include flex-row();
          @include flex-centered();
        }

        .food-pagination-right-button {
          @include flex-row();
          @include flex-centered();
        }

      .total-calories {
        @include flex-row();
        @include flex-centered();
      }

        .total-calories__text,
        .total-calories__value {
          text-decoration: underline;
        }

    .container-main {
      @include flex-column();
      @include flex-centered();      
    }

      .details {
        @include flex-column();
        @include flex-centered();
      }

        .details-first-row {
          @include flex-row();
          @include flex-centered();
        }

          .details-first-row-first-column {
            @include flex-row();
            @include flex-centered();
          }

          .details-first-row-second-column {
            @include flex-column();
            @include flex-centered();
          }

            .details-first-row-second-column-title {
              @include flex-row();
              @include flex-centered();
            }

            .details-first-row-second-column-serving {
              @include flex-column();
              @include flex-centered();
            }

              .details-first-row-second-column-serving-buttons {
                @include flex-row();
                @include flex-centered();
              }

                .details-first-row-second-column-serving-buttons__minus,
                .details-first-row-second-column-serving-buttons__plus {
                  text-align: center;
                }

                .details-first-row-second-column-serving-buttons__input { 
                  cursor: default;
                  text-align: center;
                }

            .details-first-row-second-column-add-to-totals {
              @include flex-row();
              @include flex-centered();
            }

        .details-second-row {
          @include flex-row();
          @include flex-centered(); 
        }

          .details-second-row-first-column,
          .details-second-row-second-column {
            @include flex-column();
            @include flex-centered();
          }

            .details-second-row-first-column-serving-size,
            .details-second-row-first-column-calories-amount-in-pieces,
            .details-second-row-first-column-calories-amount-in-grams,
            .details-second-row-second-column-fat,
            .details-second-row-second-column-carbohydrates,
            .details-second-row-second-column-protein {
              @include flex-row();
              @include flex-horiz-start();
              overflow: hidden; // cutting out redundand text
              white-space: nowrap; // canceling text wrap
            }

              .details-second-row-first-column-serving-size__value,
              .details-second-row-first-column-calories-amount-in-pieces__value,
              .details-second-row-first-column-calories-amount-in-grams__value,
              .details-second-row-second-column-fat__value,
              .details-second-row-second-column-carbohydrates__value,
              .details-second-row-second-column-protein__value {
                @include font-bold();
              }

  .footer {
    @include flex-row();
    @include flex-horiz-space-between();
  }

//------------------------------------------ Importing Adaptive Layout ----------------------------------------//

@import "laptop";
@import "mobile";











